<% if (quizes.length) { %>
	<table id="quizes">
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
			<td>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Confirme eliminar la pregunta \'<%= quizes[i].pregunta %>\'');">Eliminar</button>
				</form>
			</td>
		</tr>
	<% } %>
	</table>
<% } else { %>
	No se han encontrado preguntas que cumplan el criterio de búsqueda solicitado.<p>
<% } %>	
<p>
<p>
<a href="/quizes/search"><button type="button">Buscador</button></a>
<a href="/quizes/new"><button type="button">Crear nueva pregunta</button></a>