<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h4>Pregunta: <%= quiz.pregunta %></h4>
	<input type="text" name="respuesta" value="Responda aquí"/>
	<input type="submit" value="Enviar">
</form>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<h3>Comentarios:</h3>
<table id="quizes">
	<% for(i in quiz.Comments){ %>
	<tr>
		<% if(quiz.Comments[i].publicado || session.user){%>
		<td style="width:70%">
				<p id="comments"><%= quiz.Comments[i].texto %></p>
		</td>
		<% } %>
		<% if(session.user){%>
		<td style="width:10%">
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/edit"><button>Editar</button></a>
		</td>
		<% } %>
		<% if(session.user){%>
		<td style="width:10%">
			<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('Confirme eliminar el comentario');">Eliminar</button>
			</form>
		</td>
		<% } %>
		<% if(session.user && !quiz.Comments[i].publicado){%>
		<td style="width:10%">
			<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish?_method=put">
				<input type="submit" value="Publicar">
			</form>
		</td>
		<% } %>
	</tr>
	<% } %>
</table>
<% include _lista.ejs %>